@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-smooth {
  scroll-behavior: smooth;
}